<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/global.css" />
    <link rel="stylesheet" href="../../assets/style/reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <section class="section_our_categorie">
          <div class="slide_product">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper bg_color_trapezoid">
                <!-- 12 phần tử -->
                <div class="swiper-slide">
                  <a href="#detail_product1">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Túi nhựa.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product2">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img src="./img/Túi rác.png" alt="" class="product_img" />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product3">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Túi sinh học.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product4">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Khuôn@3x.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product5">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Túi giấy.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product6">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img src="./img/Túi vải.png" alt="" class="product_img" />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product10">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Túi nhựa.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product11">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img src="./img/Túi rác.png" alt="" class="product_img" />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product12">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Túi sinh học.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product13">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Khuôn@3x.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product14">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img
                        src="./img/Túi giấy.png"
                        alt=""
                        class="product_img"
                      />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#detail_product15">
                    <div class="trapezoid">
                      <div class="bg_color"></div>
                    </div>
                    <div class="elippse_prd"></div>
                    <div class="wrap_img_content">
                      <img src="./img/Túi vải.png" alt="" class="product_img" />
                      <p class="desc">Paper Products</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <!-- Nút điều khiển -->
            <div class="swiper_button swiper-button-next">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="arrow_icon pc"
                viewBox="0 0 25 25"
                fill="none"
              >
                <path
                  d="M5.88672 12.6055H19.8867M19.8867 12.6055L13.8867 6.60547M19.8867 12.6055L13.8867 18.6055"
                  stroke="#16954F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <!-- <img
                src="./img/next_button_mb.png"
                alt=""
                class="arrow_icon mb"
              /> -->
            </div>
            <div class="swiper_button swiper-button-prev">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="arrow_icon pc"
                viewBox="0 0 25 25"
                fill="none"
              >
                <path
                  d="M19.8867 12.6055H5.88672M5.88672 12.6055L11.8867 18.6055M5.88672 12.6055L11.8867 6.60547"
                  stroke="#16954F"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <!-- <img
                src="./img/prev_button_mb.png"
                alt=""
                class="arrow_icon mb"
              /> -->
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="../../js/gsap.js"></script>
    <script src="../../js/gsap.min.js"></script>
    <script src="../../js/ScrollSmoother.min.js"></script>
    <script src="../../js/ScrollTrigger.min.js"></script>
    <script src="../../js/kKao4HeadingTable.js"></script>
    <script src="../../js/ScrollToPlugin.min.js"></script>
    <script src="./scripts.js"></script>
  </body>
</html>
