<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/global.css" />
    <link rel="stylesheet" href="../../assets/style/reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <section class="core_value_component">
          <div class="content_value">
            <div class="heading">
              <p class="subtitle">Core Value</p>
              <h2 class="title">Why choose us?</h2>
            </div>
            <table class="value_table">
              <tr>
                <td>
                  <div class="icon">
                    <img src="./img/respesct.svg" alt="" />
                  </div>

                  <h3 class="title">Respect</h3>
                  <p class="desc">
                    Respecting customers, partners, colleagues, and the company.
                  </p>
                </td>
                <td>
                  <div class="icon">
                    <img src="./img/service.svg" alt="" />
                  </div>

                  <h3 class="title">Best service</h3>
                  <p class="desc">
                    Prioritizing the fulfillment of all customer needs.
                  </p>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="icon">
                    <img src="./img/professtion.svg" alt="" />
                  </div>
                  <h3 class="title">Professionalism</h3>
                  <p class="desc">
                    This is our guiding principle in all interactions with
                    customers and internal operations.
                  </p>
                </td>
                <td>
                  <div class="icon">
                    <img src="./img/Group_compilane.svg" alt="" />
                  </div>
                  <h3 class="title">Compliance</h3>
                  <p class="desc">
                    Adhering to the law, current national and international
                    regulations, and company policies and rules.
                  </p>
                </td>
              </tr>
            </table>
          </div>
          <div class="slider_value pc">
            <img src="./img/Large Container.png" alt="" class="large" />
            <img src="./img/Ellipse 3211.png" alt="" class="ellipse" />

            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="./img/qoute.svg" class="icon_quote" alt="" />
                  <p class="desc">
                    Theo quan điểm biện chứng duy vật mối liên hệ nhân quả là
                    mốiliên hệ khách quan của bản thân các sự vật. Nó tồn tại
                    ngoài ýmuốn của con người không phụ thuộc vào việc ta có
                    nhận thứcđược nó hay không.
                  </p>
                  <ul>
                    <li>VNK’s CEO</li>
                  </ul>
                </div>
                <div class="swiper-slide">
                  <img src="./img/qoute.svg" class="icon_quote" alt="" />
                  <p class="desc">
                    Mối quan hệ biện chứng giữa nguyên nhân và kết quả còn thể
                    hiệnở chỗ: một hiện tượng nào đó trong đó mối quan hệ này là
                    nguyênnhân thì trong mối quan hệ khác là kết quả và ngược
                    lại
                  </p>
                  <ul>
                    <li>VNK’s CEO</li>
                  </ul>
                </div>
                <div class="swiper-slide">
                  <img src="./img/qoute.svg" class="icon_quote" alt="" />
                  <p class="desc">
                    Thực tiễn cho thấy cùng một nguyên nhân có thể gây nên nhiều
                    kếtquả khác nhau tùy thuộc vào hoàn cảnh cụ thể. Ngược lại
                    một kếtquả có thể gây nên nhiều kết quả khác nhau tùy thuộc
                    vào hoàncảnh cụ thể. Ngược lại một kết quả có thể gây nên
                    bởi nhiềunguyên nhân khác nhau tác động riêng lẻ hay tác
                    động cùng mộtlúc
                  </p>
                  <ul>
                    <li>VNK’s CEO</li>
                  </ul>
                </div>
                <div class="swiper-slide">
                  <img src="./img/qoute.svg" class="icon_quote" alt="" />
                  <p class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet rem nesciunt obcaecati ex doloremque qui omnis saepe
                    iste a optio illum ut deleniti repellat voluptate, officiis
                    placeat? Aliquam, eaque magni.
                  </p>
                  <ul>
                    <li>VNK’s CEO</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="group_swiper_button">
              <div class="swiper-button swiper-button-next">
                <img src="./img/arrow_swiper_next.svg" alt="" />
              </div>
              <div class="swiper-button swiper-button-prev">
                <img src="./img/arrow_swiper_prev.svg" alt="" />
              </div>
            </div>
          </div>
          <div class="slider_value_mb">
            <div class="slide_item">
              <img src="./img/Ellipse_3211_mb.png" alt="" class="elip_bg" />
              <div class="content">
                <img src="./img/qoute.svg" alt="" class="icon_qoute" />
                <p class="desc">
                  Quality and commitment are what impresses me the most about
                  VNK's. We always aim to grow together with Vietnamese brands
                  to bring shared value to the Vietnamese industry.
                </p>
                <ul>
                  <li>VNK’s CEO</li>
                </ul>
              </div>
            </div>
            <div class="slide_item">
              <img src="./img/Ellipse_3211_mb.png" alt="" class="elip_bg" />
              <div class="content">
                <img src="./img/qoute.svg" alt="" class="icon_qoute" />
                <p class="desc">
                  Quality and commitment are what impresses me the most about
                  VNK's. We always aim to grow together with Vietnamese brands
                  to bring shared value to the Vietnamese industry.
                </p>
                <ul>
                  <li>VNK’s CEO</li>
                </ul>
              </div>
            </div>
            <div class="slide_item">
              <img src="./img/Ellipse_3211_mb.png" alt="" class="elip_bg" />
              <div class="content">
                <img src="./img/qoute.svg" alt="" class="icon_qoute" />
                <p class="desc">
                  Quality and commitment are what impresses me the most about
                  VNK's. We always aim to grow together with Vietnamese brands
                  to bring shared value to the Vietnamese industry.
                </p>
                <ul>
                  <li>VNK’s CEO</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="../../js/gsap.js"></script>
    <script src="../../js/gsap.min.js"></script>
    <script src="../../js/ScrollSmoother.min.js"></script>
    <script src="../../js/ScrollTrigger.min.js"></script>
    <script src="../../js/kKao4HeadingTable.js"></script>
    <script src="../../js/ScrollToPlugin.min.js"></script>
    <script src="./scripts.js"></script>
  </body>
</html>
